/* le container reprend toute la page */


.container
{
	
	font-family: "Raleway", Sans serif;
	justify-content: space-around;
}

 


/* css sur des parti general du code*/
#scroll_to_top 
{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 50px;
	right: 30px;
}


input
{
	
	height: 50px;
	text-align: center;
	font-size: 1.1em;
	margin: 5px 0px 5px 0px;
	border: none;

}
 
input[type="submit" i]
{
	background-color: #0065FC;
	border-radius: 0% 50px 50px 0%;
	color: white;
}

li
{
	
	list-style-type: none;
}

a
{
	text-decoration: none;
	
}



/* le header qui entoure deux balize entete et Menu*/
header img
{
	max-width: 40%;
	float: left;
	display: flex;
}

#logo
{
justify-content: flex-end;
}

nav
{
	justify-content: space-between;
	display: flex;
	padding-right: 20px;
}

#entete
{
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}


nav li
{
	margin: 15px;
	
}

nav ul
{
	 
	display: flex;
	margin-top: 0px;
}

nav a
{
    
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}





/* la section information qui entourre le titre sous titre et le formulaire de ville */


#information h2
{
	margin-top: 70px;
	padding: 0;
}



#information form
{
margin: 20px 0 0px 0;
}

 
/* la section barre qui entourre toute la ligne du filtre*/


#barre a
{
	padding-left: 20px;
	color: black;
}

#barre a:hover
{
	color: red;
}

#filtre
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
}

#filtre ul
{
	display: flex;
}

#filtre i
{
	background-color: #DEEBFF;
	width: 40px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px

}



i
{
	color: #0065FC;
	display: block;
	border-radius: 50px;
}

label i 
{
	color: black;
}


#Economique
{
	border: 1px solid grey;
	border-radius: 40px;
	margin: 20px 0 20px 30px;
	width: 200px;
	
}

.eco1
{
	display: flex;
}

.eco2
{
	display: flex;
}


/* la section Hebergement qui encadre tous ce qui est de l'hergement de marseille  */
#Hebergement
{
	display: flex;
	flex-wrap: wrap;
	
}

#Hebergement img
{
	width: 100%;
	height: 250px;
	border-radius: 10% 10% 0% 0%;
	object-fit: cover;
}

article
{
	
	background-color: #F2F2F2;
	padding: 5px;
	margin-right: 5px;
	margin-top: 50px;
	border-radius: 30px;
	flex-wrap: wrap;
	
}

article img
{
	
	height: 130px;
	display: flex;
	border-radius: 20px;
	
}

#tp
{
	display: flex;
	flex-wrap: wrap;
	
}

#tp2
{
	display: flex;
	flex-wrap: wrap;
	
}



#auberge
{
	border-radius: 20px;
	margin: 10px 10px 10px 10px;
	background-color: white;
	box-shadow: 1px 1px 10px black;
}

.auberge_texte
{
	width: 300px;
	padding-bottom: 20px;
	
}



#auberge i
{
	margin-top: 0px;
}

/* L'aside qui entourre tous ce qui est a droite de l'hébergement a marseille*/
aside
{
	background-color: #F2F2F2;
	padding: 5px;
	border-radius: 30px;
	margin-top: 50px;
	flex-wrap: wrap;
}

aside i
{
	color: black;
}

#populaires h3
{
	display: flex;
	margin-bottom: -13px;
}

#populaires img
{
	width: 150px;
	padding-right: 10px;
}



#soleil
{
	background-color: white;
	margin-right: 5px;
	border-radius: 10px;
	box-shadow: 1px 1px 10px black;
}


/* la section marseille qui entourre toute la parti basse avant le footer*/

	#activite img 
	{
		width: 90%;
		object-fit: cover;
	}

	#activite
	{
		display: flex;
		padding-left: 0;
		margin: 0;
		
		
	} 


	#vieux
	{
		border-radius:10px 10px 10px 10px;
		background-color: white;
		padding: 5px 10px 5px 10px;
		box-shadow: 1px 1px 10px black;
	}

	#vieux img
	{
		height: 380px;
		padding: 0;
		border-radius:10px 10px 0 0;
		width: 290px;
		padding-top: 20px;
	}
	
	#fort1 img
	{
		width: 280px; 
		height: 150px;
		border-radius:10px 10px 0px 0px;
		padding-top: 20px;
		margin-top: 5px;
	}
	
	#fort1 
	{
		margin-right: 20px;
		border-radius:10px 10px 10px 10px;
		height: 210px;
		box-shadow: 1px 1px 10px black;
		background-color: white;
		padding: 5px 10px 5px 5px;
	}
	
	#fort2 img
	{
		width: 280px; 
		height: 150px;
		border-radius:10px 10px 0px 0px;
		padding-top: 20px;
		margin-top: 5px;
	}
	
	#fort2
	{
		 
		height: 210px;
		margin-right: 20px;
		border-radius:10px 10px 10px 10px;
		box-shadow: 1px 1px 5px black;
		margin-top: 20px;
		background-color: white;
		padding: 5px 10px 5px 5px;
	}
	
	#Calanques
	{
		margin-right: 20px;
		border-radius:10px 10px 10px 10px;
		height: 440px;
		padding: 0;
		background-color: white;
		padding: 5px 10px 5px 5px;
		box-shadow: 1px 1px 10px black;
	}

	#Calanques img
	{
		width: 290px;
		height: 300px;
		padding: 0;
		border-radius:10px 10px 0 0;
	}
	
	#monument1 img
	{
		width: 290px;
		height: 100px;
		border-radius:10px 10px 0px 0px;
	}
	
	#monument1 
	{
		margin-right: 20px;
		border-radius:10px 10px 10px 10px;
		height: 210px;
		box-shadow: 1px 1px 5px black;
		background-color: white;
		padding: 5px 10px 5px 5px;
	}
	
	#monument2 img
	{
		width: 290px;
		height: 100px;
		border-radius:10px 10px 0px 0px;
	}
	
	#monument2
	{
		 
		height: 210px;
		margin-right: 20px;
		border-radius:10px 10px 10px 10px;
		box-shadow: 1px 1px 5px black;
		margin-top: 20px;
		background-color: white;
		padding: 5px 10px 5px 5px;
		
	}



/* et le footer qui encadre 3 div*/
footer
{
	display: flex;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	
	
}

footer ul
{
	
	
	padding-left: 0px;
}

#assistance
{
	
	
	margin-left: 20px;
}

#heber
{
	margin-right: 150px;
	margin-left: 20px;
}

#propos
{
	margin-left: 10px;
	margin-right: 150px;
}

@media all and (min-device-width: 1650px) 
{
	h2
	{
		font-size: 1.2em;
	}

	#filtre
	{
		flex-wrap: nowrap;
		width: 100%;
	}

	#Economique
	{
		margin: 5px;
	}

	#Hebergement
	{
	display: flex;
	flex-wrap: wrap;
	
	}

	#Hebergement img
	{
		
		border-radius: 10% 10% 0% 0%;
	}

	article
	{
		width: 65%;
	}

	aside
	{
		width: 32%;
	}

	aside h2
	{
		margin-bottom: 30px;
	}

	i.fas.fa-chart-line 
	{
		padding-left: 67%;
	}

	.auberge_texte
	{
		width: 180px;
		padding-bottom: 20px;
	}

	

	#auberge
	{
		width: 30%;
	}

	#populaires img
	{
		width: 170px;
		border-radius: 10px;
		padding-right: 10px;
	}

	#soleil
	{
		display: flex;
		height: 307px;
		margin-bottom: 25px;
	}

	#soleil img
	{
		height: 307px;
		
	}


	#activite img
	{
		width: 100%;
		height: 250px;
	}

	#vieux img
	{
		height: 585px;
	}

	#Calanques img
	{
		height: 585px;
	}

	footer
	{
		flex-wrap: nowrap;
	}
}

@media all and (min-device-width: 1440px) and (max-device-width: 1650px)
{
	

	#filtre
	{
		flex-wrap: nowrap;
		width: 100%;
	}

	#Economique
	{
		margin: 5px;
	}

	#Hebergement
	{
	display: flex;
	flex-wrap: wrap;
	
	}

	#Hebergement img
	{
		
		border-radius: 10% 10% 0% 0%;
	}

	article
	{
		width: 65%;
	}

	aside
	{
		width: 32%;
	}

	aside h2
	{
		margin-bottom: 30px;
	}

	i.fas.fa-chart-line 
	{
		padding-left: 40%;
	}

	.auberge_texte
	{
		width: 180px;
		padding-bottom: 20px;
	}

	

	#auberge
	{
		width: 30%;
	}

	#populaires img
	{
		width: 170px;
		border-radius: 10px;
		padding-right: 10px;
	}

	#soleil
	{
		display: flex;
		height: 307px;
		margin-bottom: 25px;
	}

	#soleil img
	{
		height: 307px;
		
	}

	
	#activite img
	{
		width: 100%;
		height: 250px;
	}

	#vieux img
	{
		height: 585px;
	}

	#Calanques img
	{
		height: 585px;
	}

	footer
	{
		flex-wrap: nowrap;
	}
}

@media all and (min-device-width: 1231px) and (max-device-width: 1439px)
{
	

	h2
	{
		
		padding-left: 30px;
	}
	
	h3
	{
		margin-bottom:0;
		margin-top:5px;
		
	}

	#filtre
	{
		flex-wrap: nowrap;
		width: 100%;
	}

	#Economique
	{
		margin: 5px;
	}
	
	i.fas.fa-info 
	{
    background-color: #DEEBFF;
    width: 40px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
	}

	#Hebergement
	{
	display: flex;
	flex-wrap: wrap;
	
	}

	#Hebergement img
	{
		height:130px;
		border-radius: 10% 10% 0% 0%;
	}
	

	article
	{
		width: 60%;
		margin-right: 20px;
		padding: 0 20px 0 20px;
	}
	
	

	aside
	{
		width: 32%;
	}

	aside h2
	{
		margin-bottom: 30px;
	}

	i.fas.fa-chart-line 
	{
		padding-left: 30%;
	}

	.auberge_texte
	{
		width: 180px;
		padding-bottom: 20px;
		padding-left: 5px;
	}

	#auberge img 
	{
		border-radius: 10% 10% 0% 0%;
	}

	#auberge
	{
		width: 29%;
		height: 204px;
		padding: 5px;
	}
	
	#auberge p
	{
		
		margin-top: -15px;
	}

	#populaires img
	{
		width: 100px;
		border-radius: 10px;
		padding-right: 10px;
	}
	

	#soleil
	{
		display: flex;
		height: 120px;
		margin: 30px 20px 10px 20px;
		padding: 5px;
	}

	#soleil img
	{
		height: 307px;
		height: 120px;
		border-radius: 10px 0 0 10px;
	}

	

	#activite img
	{
		width: 100%;
		height: 250px;
	}

	#vieux img
	{
		height: 585px;
	}

	#Calanques img
	{
		height: 585px;
	}

	footer
	{
		flex-wrap: nowrap;
	}
}

@media all and (min-device-width: 1024px) and (max-device-width: 1230px)
{

/* la section barre qui entourre toute la ligne du filtre*/

	h2
	{
		
		padding-left: 20px;
	}
	
	h3
	{
		margin-bottom:0;
		margin-top:5px;
		
	}

	#filtre
	{
		flex-wrap: nowrap;
		width: 100%;
	}

	#Economique
	{
		margin: 5px;
	}
	
	i.fas.fa-info {
    background-color: #DEEBFF;
    width: 40px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
	}

	#Hebergement
	{
	display: flex;
	flex-wrap: wrap;
	
	}

	#Hebergement img
	{
		
		height:130px;
	}
	
	#auberge img 
	{
		border-radius: 10% 10% 0% 0%;
	}

	article
	{
		width: 60%;
		margin-right: 20px;
		padding: 0 20px 0 20px;
	}

	aside
	{
		width: 32%;
	}

	aside h2
	{
		margin-bottom: 30px;
	}

	i.fas.fa-chart-line 
	{
		padding-left: 20%;
	}

	.auberge_texte
	{
		width: 180px;
		padding-bottom: 20px;
		padding-left: 5px;
	}

	

	#auberge
	{
		width: 28%;
		height: 195px;
		padding: 5px;
	}

	#populaires img
	{ 
		width: 100px;
		
	}

	#soleil
	{
		display: flex;
		height: 120px;
		margin: 30px 20px 10px 20px;
		padding: 5px;
	}

	#soleil img
	{
		height: 120px;
		border-radius: 10px 0 0 10px;
	}

	#auberge p
	{
		margin-top: -15px;
	}

	
	
	#vieux
	{
		margin-right: 20px;
		border-radius:10px 10px 10px 10px;
		height: 440px;
		padding: 0;
	}

	#vieux img
	{
		height: 380px;
		padding: 0;
		border-radius:10px 10px 0 0;
	}
	
	#fort1 img
	{
		width: 280px; 
		height: 150px;
		border-radius:10px 10px 0px 0px;
	}
	
	#fort1 
	{
		margin-right: 20px;
		border-radius:10px 10px 10px 10px;
		height: 210px;
		box-shadow: 1px 1px 10px black;
	}
	
	#fort2 img
	{
		width: 280px; 
		height: 150px;
		border-radius:10px 10px 0px 0px;
	}
	
	#fort2
	{
		 
		height: 210px;
		margin-right: 20px;
		border-radius:10px 10px 10px 10px;
		box-shadow: 1px 1px 5px black;
		margin-top: 20px;
	}
	
	#Calanques
	{
		margin-right: 20px;
		border-radius:10px 10px 10px 10px;
		height: 440px;
		padding: 0;
	}

	#Calanques img
	{
		height: 380px;
		padding: 0;
		border-radius:10px 10px 0 0;
	}
	
	#monument1 img
	{
		width: 280px; 
		height: 150px;
		border-radius:10px 10px 0px 0px;
	}
	
	#monument1 
	{
		margin-right: 20px;
		border-radius:10px 10px 10px 10px;
		height: 210px;
		box-shadow: 1px 1px 5px black;
	}
	
	#monument2 img
	{
		width: 280px; 
		height: 150px;
		border-radius:10px 10px 0px 0px;
	}
	
	#monument2
	{
		 
		height: 210px;
		margin-right: 20px;
		border-radius:10px 10px 10px 10px;
		box-shadow: 1px 1px 5px black;
		margin-top: 20px;
	}

	footer
	{
		flex-wrap: nowrap;
		margin-top: 30px;
	}
}

@media all and (min-device-width: 911px) and (max-device-width: 1023px)
{
	#logo
	{
		width: -moz-available;
		display: grid;
		justify-content: center;
		padding-left: 130px;
	}

	nav 
	{
		width: -moz-available;
		justify-content: center;
	}

	.eco1
	{
		display: grid;
	}

	.eco2
	{
		display: grid;
	}

	#Hebergement
	{
		flex-direction: column-reverse;
	}

	aside h2 i 
	{
		padding-left: 60%;
	}

	#soleil 
	{
		display: inline-block;
	}

	aside 
	{
		
		display:grid;
	}

	#soleil
	{
		
		width:40%;
		height: 90%;
		border-radius: 20% 20% 10% 10%;
	}

	#soleil img 
	{
		width: 100%;
		flex-wrap: wrap;
		border-radius: 20% 20% 0% 0%;
	}

	.soleil_texte
	{
		height: 250px;
	}

	#populaires
	{
		height: 100%;
		display:flex;
	}

	#auberge  
	{
		
		width:30%;
	}

	#auberge img 
	{
		width: 100%;
	}

	#auberge h3
	{
		width:50%
	}

	footer 
	{
		flex-wrap: nowrap;
	}

	#propos
	{
		margin-right: 0;
		padding-right: 20px;
	}

	#heber
	{
		margin-right: 0;
		padding-right: 20px;
	}

	#assistance
	{
		margin-right: 0;
	}



}

@media all and (min-device-width: 640px) and (max-device-width: 910px)
{
	
	
	#logo
	{
		
		width: -moz-available;
		display: grid;
		justify-content: center;
		padding-left: 130px;
	}
	
	nav 
	{
		width: -moz-available;
		justify-content: center;
	}


	.eco1
	{
		display: grid;
	}

	.eco2
	{
		display: grid;
	}

	aside h2 i 
	{
		padding-left: 50%;
	}

	#Hebergement
	{
		flex-direction: column-reverse;
	}

	#Hebergement img 
	{
		width: 100%;
	}

	#auberge  
	{
		
		width:30%;
	}

	#auberge img 
	{
		width: 100%;
	}

	#auberge h3
	{
		width:50%
	}

	aside 
	{
		width:98%;
		display:grid;
		padding: 10px 20px 0px 20px;
		margin-left: 20px;
	}

	#soleil
	{
		
		width:40%;
		display:grid;
		height: 90%;
		border-radius: 20% 20% 10% 10%;
	}

	#soleil img 
	{
		width: 100%;
		flex-wrap: wrap;
		border-radius: 20% 20% 0% 0%;
	}

	.soleil_texte
	{
		height: 250px;
	}

	#populaires
	{
		height: 100%;
		display:flex;
	}

	#monument img 
	{
		height: 110px;
	}

	#fort img 
	{
		height: 110px;
	}

	footer 
	{
		flex-wrap: nowrap;
	}

	#propos
	{
		margin-right: 0;
	}

	#heber
	{
		margin-right: 0;
	}

	#assistance
	{
		margin-right: 0;
	}
}
	

@media screen and (max-device-width:639px) 
{
	.top li
	{
		
		width: 150px;
	}

	#logo
	{
		position: absolute;
	}

	.top 
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
  		grid-gap: 5px;
  		padding-left: 0;
		font-size: 1.2em;
	}
	

	.one 
	{
		grid-column: 1;
		grid-row: 11;
		padding-left: 0;
		margin-left: 0;
		border-bottom: 2px solid blue;
		height: 150%;
		text-align: center;
		margin: 0;
		width: 50%;
	 }

	.two
	{
		grid-column: 2;
		grid-row: 11; 
		margin-left: 20%;
		text-align: left;
		border-bottom: 2px solid blue;
		height: 150%;
		text-align: center;
		margin: 0;
		width: 50%;
	}

	.tree
	{
		grid-column: 2;
	 	margin-top: 40px;
		margin-left: 10%;
		text-align: center;
		text-align: center;
		margin: 40px 0 0 0;
		padding-left: 30px;
	}

	.tree li 
	{
		width: 100px;
	}
	
	

	input
	{
		width: 135px;
		font-size: 1em;
	}	

	i.fas.fa-info
	{
		padding-right: 10px;
	}

	nav{
		margin: 0;
		padding: 0;
		
	}

	nav ul
	{ 
		margin-left: 0;
	}


	#information h2
	{
		justify-content: space-between;
	}

	

	.eco2
	{
		display:inline;
		margin-top: -20px;
		padding: 0;
	}

	#filtre
	{
		display:flow-root;
	}

	#filtre ul 
	{
		display: grid;
		padding-left: 0;
	}

	#Economique
	{
		margin-left: 0;
		width: 170px;
		margin-right: 5px;
	}

	#barre a 
	{
		padding-left: 5px;
	}

	#Hebergement
	{
		flex-direction:column-reverse;	
	}
	
	#Hergement img
	{
		border-radius: 10% 0% 0% 10%;
		margin: 0;
	}
	
	article
	{
		background-color: white;
	}
	
	aside
	{
		width: 90%;
		padding-right: 20px;
	}
	
	aside h2 i
	{
		padding-left: 30%;
	}
	
	#populaires h3
	{
		
		font-size: 1em;
	}


	#soleil
	{
		margin: 15px 15px 15px 10px;
		display: flex;
		width: 97%;
		height: 250px;
		border-radius: 10% 10% 10% 10%;
		height: 150px;
	}

	#soleil img
	{
		width: 140px;
		height: 150px;
		border-radius: 10% 0% 0% 10%;
		padding: 0;
		margin:0;
		padding-right: 5px;
	}
	
	#soleil p
	{
		margin: 0;
	}
	
	#soleil .nuit i
	{
		padding-top: 30px;
	}
	
	#soleil .coeur i
	{
		padding-top: 10px;
	}
	
	#soleil .blanc i
	{
		padding-top: 30px;
	}

	.soleil_texte
	{
		padding-bottom: 20px;
	}

	#auberge
	{
		width: 100%;
		height: 230px;
		border-radius: 10% 10% 10% 10%;
	}
	
	#auberge h3
	{
		margin: 0;
	}
	
	#auberge p
	{
		padding: 0;
		margin: 0;
	}
	
	.auberge_texte
	{
		padding-left: 10px;
	}
	
	#auberge img 
	{
		padding: 0;
		margin: 0;
		height: 150px;
	}	

	#activite
	{
		display: grid;
	}
	
	#vieux
	{
		padding: 0;
		margin-bottom: 20px;
		margin-left: 20px;
		border-radius: 10% 10% 10% 10%;
		width: 100%;
	}
	
	#vieux p 
	{
		padding-left: 20px;
	}
	

	#vieux img 
	{
		width: 100%;
		height: 200px;
		border-radius: 10% 10% 0% 0%;
		padding: 0;
	}
	
	#fort1 
	{
		margin-left: 20px;
		width: 100%;
		padding: 0;
		height: 260px;
		border-radius: 10% 10% 10% 10%;
	}

	#fort1 img
	{
		width: 100%;
		height: 200px;
		padding-top: 0;
		border-radius: 10% 10% 0% 0%;
		margin: 0;
	}
	
	#fort1 p 
	{
		padding-left: 20px;
	}
	
	#fort2
	{
		width: 100%;
		height: 250px;
		padding-top: 0;
		border-radius: 10% 10% 10% 10%;
		padding: 0;
		margin-left: 20px;
		
	}
	
	#fort2 img
	{
		width: 100%;
		height: 200px;
		padding-top: 0;
		border-radius: 10% 10% 0% 0%;
		margin: 0;
	}
	
	#fort2 p 
	{
		padding-left: 20px;
	}
	
	#Calanques
	{
		padding: 0;
		margin-bottom: 20px;
		margin-left: 20px;
		border-radius: 10% 10% 10% 10%;
		width: 100%;
		height: 250px;
		margin-top: 20px;
	}

	#Calanques img 
	{
		width: 100%;
		height: 200px;
		border-radius: 10% 10% 0% 0%;
	}
	
	#Calanques p 
	{
		padding-left: 20px;
	}
	
	#monument1
	{
		margin-left: 20px;
		width: 100%;
		padding: 0;
		height: 260px;
		border-radius: 10% 10% 10% 10%;
	}

	#monument1 img 
	{
		width: 100%;
		height: 200px;
		border-radius: 10% 10% 0% 0%;
	}
	
	#monument1 p
	{
		padding-left: 20px;
	}
	
	#monument2
	{
		margin-left: 20px;
		width: 100%;
		padding: 0;
		height: 260px;
		border-radius: 10% 10% 10% 10%;
	}
	
	#monument2 img
	{
		width: 100%;
		height: 200px;
		border-radius: 10% 10% 0% 0%;
	}
	
	#monument2 p
	{
		padding-left: 20px;
	}
	
	footer
	{
		margin-top: 20px;
		display: flow-root;
		flex-wrap: wrap;
		background-color: #F2F2F2;
		justify-content: space-between;
		width: 120%;
		padding-left: 30px;
	}	
	
	#propos ul
	{
		
		width: 120%;
	}
	
	#propos
	{
		margin: 0;
		padding-top: 30px;
	}
	
	#heber
	{
		margin: 0;
		padding-top: 30px;
	}
	
	#assistance
	{
		margin: 0;
		padding-top: 30px;
	}
}