@import url ('https://fonts.googleapis.com/css2? family = Raleway: ital @ 1 & display = swap');


/* le container reprend toute la page */


.container
{
	
	font-family: "Raleway", Sans serif;
	justify-content: space-between;
}



/* css sur des parti general du code*/
#scroll_to_top {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 30px;
}


input
{
	
	height: 50px;
	text-align: center;
	font-size: 1.2em;
	margin: 5px 0px 5px 0px;
	border: none;

}
 
input[type="submit" i]
{
	background-color: #1755d5;
	border-radius: 0% 50px 50px 0%;
	color: white;
}

ul
{
	
	list-style-type: none;
}

a
{
	text-decoration: none;
}

/* le header qui entoure deux balize entete et Menu*/
header img
{
	
	float: left;
	display: flex;
}

nav
{
	justify-content: flex-end;
}

#entete
{
	
	display: flex;
	
	
}


nav li
{
	margin: 15px;
	
}

nav ul
{
	 
	color: #0065FC;
	display: flex;
	margin-top: 0px;
	margin-left: 60%;
}

nav a
{
    font-size: 1.3em;
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}





/* la section information qui entourre le titre sous titre et le formulaire de ville */
#information
{
	
	
}

#information h2
{
	margin-top: 100px;
	padding: 0;
}

#information p
{
	margin-top: -20px;
}

#information form
{
margin: 20px 0 0px 0;
}

 
/* la section barre qui entourre toute la ligne du filtre*/


#barre a
{
	padding-left: 20px;
	color: black;
}

#barre a:hover
{
	color: red;
}

#filtre
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
}

#filtre i
{
	background-color: #a9def4;
	width: 40px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px

}



i
{
	color: #0065FC;
	display: block;
	border-radius: 50px;

	
}

label i 
{
	color: black;
}


#Economique
{
	border: 1px solid grey;
	border-radius: 40px;
	margin: 20px 0 20px 30px;
	width: 200px;
	flex-flow: column wrap;
}



.fa-info:before 
{
	padding-right: 20px;
}
/* la section Hebergement qui encadre tous ce qui est de l'hergement de marseille  */
#Hebergement
{
	display: flex;
	flex-wrap: wrap;
}

#Hebergement img
{
	width: 250px;
	height: 150px;
	border-radius: 10% 10% 0% 0%;
}

#Hebergement h3
{
	
	con
}

article
{
	
	background-color: #cacbcc;
	padding: 5px;
	margin-right: 5px;
	margin-top: 50px;
	border-radius: 30px;
	flex-wrap: wrap;

}

article img
{
	
	height: 130px;
	display: flex;
	border-radius: 20px;
	
}

#tp
{
	display: flex;
	padding-left: 5px;
	flex-wrap: wrap;
}

#tp2
{
	display: flex;
	flex-wrap: wrap;
}



#auberge
{
	border-radius: 30px;
	margin: 10px 10px 10px 10px;
	background-color: white;
}

.auberge_texte
{
	width: 250px;
	padding-bottom: 20px;
}

#auberge p
{
	margin-top: -10px;
}

#auberge i
{
	margin-top: 0px;
}

/* L'aside qui entourre tous ce qui est a droite de l'hébergement a marseille*/
aside
{
	background-color: #cacbcc;
	padding: 5px;
	border-radius: 30px;
	margin-top: 50px;
	flex-wrap: wrap;
}


#populaires h3
{
	display: flex;
	margin-bottom: -13px;
}

#populaires img
{
	width: 150px;
	height: 200px;
	border-radius: 10% 0% 0% 10%;
	padding-right: 10px;
}



#soleil
{
	display: flex;
	padding: 5px 5px 5px 5px;
	border-radius: 30px;
	margin: 10px 0px 50px 0px;
	height: 200px;
	background-color: white;
}

.soleil_texte
{
	width: 200px;
}

#soleil p
{
	margin-top: -10px;
}

#soleil i
{
	margin-top: 50px;
}





/* la section marseille qui entourre toute la parti basse avant le footer*/

#activite
{
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin: 0;

} 


#vieux
{
	background-color: white;
	padding: 5px 10px 5px 10px;
}

#vieux img
{
	width: 290px;
	height: 500px;
	border-radius: 10% 10% 0% 0%;
	padding-top: 20px;
}

#fort
{
	background-color: white;
	padding: 5px 10px 5px 5px;
}

#fort img
{
	width: 290px;
	height: 200px;
	border-radius: 20% 20% 0% 0%;
	padding-top: 20px;
	margin-top: 5px;
}

#Calanques
{
	background-color: white;
	padding: 5px 10px 5px 5px;
}

#Calanques img
{
	width: 290px;
	height: 500px;
	border-radius: 10% 10% 0% 0%;
	padding-top: 20px;
}

#monument
{
	background-color: white;
	padding: 5px 10px 5px 5px;
}

#monument img
{
	width: 290px;
	height: 200px;
	border-radius: 20% 20% 0% 0%;
	padding-top: 20px;
	margin-top: 5px;
}

/* et le footer qui encadre 3 div*/
footer
{
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	background-color: #cacbcc;
	border-radius: 30px;
	padding: 30px;
	justify-content: space-between;
	

}

footer ul
{
	
	
	padding-left: 0px;
}







#assistance
{
	
	
	margin-left: 20px;
}

#heber
{
	
	margin-left: 20px;
}

#propos
{
	
	margin-left: 20px;
}












