<<<<<<< HEAD
/* le container reprend toute la page */


.container
{
	
	font-family: "Raleway", Sans serif;
	justify-content: space-between;
}


.element
{
	padding-right: 20px;
}
 


/* css sur des parti general du code*/
#scroll_to_top 
{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 50px;
	right: 30px;
}


input
{
	
	height: 50px;
	text-align: center;
	font-size: 1.1em;
	margin: 5px 0px 5px 0px;
	border: none;

}
 
input[type="submit" i]
{
	background-color: #1755d5;
	border-radius: 0% 50px 50px 0%;
	color: white;
}

li
{
	
	list-style-type: none;
}

a
{
	text-decoration: none;
	
}

/* le header qui entoure deux balize entete et Menu*/
header img
{
	max-width: 50%;
	float: left;
	display: flex;
}

#logo
{
justify-content: flex-end;
}

nav
{
	justify-content: space-between;
	display: flex;
	padding-right: 20px;
}

#entete
{
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}


nav li
{
	margin: 15px;
	
}

nav ul
{
	 
	color: #0065FC;
	display: flex;
	margin-top: 0px;
	
}

nav a
{
    font-size: 1.3em;
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}





/* la section information qui entourre le titre sous titre et le formulaire de ville */


#information h2
{
	margin-top: 100px;
	padding: 0;
}



#information form
{
margin: 20px 0 0px 0;
}

 
/* la section barre qui entourre toute la ligne du filtre*/


#barre a
{
	padding-left: 20px;
	color: black;
}

#barre a:hover
{
	color: red;
}

#filtre
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
}

#filtre ul
{
	display: flex;
}

#filtre i
{
	background-color: #a9def4;
	width: 40px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px

}



i
{
	color: #0065FC;
	display: block;
	border-radius: 50px;
}

label i 
{
	color: black;
}


#Economique
{
	border: 1px solid grey;
	border-radius: 40px;
	margin: 20px 0 20px 30px;
	width: 200px;
	
}

.eco1
{
	display: flex;
}

.eco2
{
	display: flex;
}


/* la section Hebergement qui encadre tous ce qui est de l'hergement de marseille  */
#Hebergement
{
	display: flex;
	flex-wrap: wrap;
	
}

#Hebergement img
{
	width: 100%;
	height: 250px;
	border-radius: 10% 10% 0% 0%;
}

article
{
	
	background-color: #cacbcc;
	padding: 5px;
	margin-right: 5px;
	margin-top: 50px;
	border-radius: 30px;
	flex-wrap: wrap;

}

article img
{
	
	height: 130px;
	display: flex;
	border-radius: 20px;
	
}

#tp
{
	display: flex;
	padding-left: 5px;
	flex-wrap: wrap;
	
}

#tp2
{
	display: flex;
	flex-wrap: wrap;
	
}



#auberge
{
	border-radius: 30px;
	margin: 10px 10px 10px 10px;
	background-color: white;
}

.auberge_texte
{
	width: 300px;
	padding-bottom: 20px;
}

#auberge p
{
	margin-top: -10px;
}

#auberge i
{
	margin-top: 0px;
}

/* L'aside qui entourre tous ce qui est a droite de l'hébergement a marseille*/
aside
{
	background-color: #cacbcc;
	padding: 5px;
	border-radius: 30px;
	margin-top: 50px;
	flex-wrap: wrap;
}

#populaires h3
{
	display: flex;
	margin-bottom: -13px;
}

#populaires img
{
	width: 150px;
	
	
	padding-right: 10px;
	
}



#soleil
{
	background-color: white;
	margin-right: 5px;
	border-radius: 30px;
	
}


/* la section marseille qui entourre toute la parti basse avant le footer*/

#activite img 
{
    max-width: 100%;
}

#activite
{
	display: flex;
	padding-left: 0;
	margin: 0;
	
	
} 

#vieux
{
	background-color: white;
	padding: 5px 10px 5px 10px;
}

#vieux img
{
	width: 290px;
	height: 300px;
	border-radius: 10% 10% 0% 0%;
	padding-top: 20px;
}

#fort
{
	background-color: white;
	padding: 5px 10px 5px 5px;
}

#fort img
{
	width: 290px;
	height: 100px;
	border-radius: 20% 20% 0% 0%;
	padding-top: 20px;
	margin-top: 5px;
}

#Calanques
{
	background-color: white;
	padding: 5px 10px 5px 5px;
}

#Calanques img
{
	width: 290px;
	height: 300px;
	border-radius: 10% 10% 0% 0%;
	padding-top: 20px;
}

#monument
{
	background-color: white;
	padding: 5px 10px 5px 5px;
}

#monument img
{
	width: 290px;
	height: 100px;
	border-radius: 20% 20% 0% 0%;
	padding-top: 20px;
	margin-top: 5px;
}

/* et le footer qui encadre 3 div*/
footer
{
	display: flex;
	flex-wrap: wrap;
	background-color: #cacbcc;
	border-radius: 30px;
	max-width: 100%;
}

footer ul
{
	
	
	padding-left: 0px;
}

#assistance
{
	
	
	margin-left: 20px;
}

#heber
{
	margin-right: 150px;
	margin-left: 20px;
}

#propos
{
	margin-left: 10px;
	margin-right: 150px;
}

@media all and (min-device-width: 1024px) 
{

/* la section barre qui entourre toute la ligne du filtre*/

	

	#filtre
	{
		flex-wrap: nowrap;
		width: 100%;
	}

	#Economique
	{
		margin: 5px;
	}

	#Hebergement
	{
	display: flex;
	flex-wrap: wrap;
	
	}

	#Hebergement img
	{
		
		border-radius: 10% 10% 0% 0%;
	}

	article
	{
		width: 65%;
	}

	aside
	{
		width: 32%;
	}

	aside h2
	{
		margin-bottom: 30px;
	}

	.auberge_texte
	{
		width: 180px;
		padding-bottom: 20px;
	}

	

	#auberge
	{
		width: 30%;
	}

	#populaires img
	{
		width: 170px;
		border-radius: 10px;
		padding-right: 10px;
	}

	#soleil
	{
		display: flex;
		height: 307px;
		margin-bottom: 25px;
	}

	#soleil img
	{
		height: 307px;
	}

	#activite img
	{
		width: max-content;
		height: 250px;
	}

	#vieux img
	{
		height: 585px;
	}

	#Calanques img
	{
		height: 585px;
	}

}

@media all and (min-device-width: 911px) and (max-device-width: 1023px)
{
	#logo
	{
		width: -moz-available;
		display: grid;
		justify-content: center;
		padding-left: 130px;
	}

	nav 
	{
		width: -moz-available;
		justify-content: center;
	}

	.eco1
	{
		display: grid;
	}

	.eco2
	{
		display: grid;
	}

	#Hebergement
	{
		flex-direction: column-reverse;
	}

	#soleil 
	{
		display: inline-block;
	}

	aside 
	{
		width:-webkit-fill-available;
		display:grid;
	}

	#soleil
	{
		
		width:40%;
		height: 90%;
		border-radius: 20% 20% 10% 10%;
	}

	#soleil img 
	{
		width: 100%;
		flex-wrap: wrap;
		border-radius: 20% 20% 0% 0%;
	}

	.soleil_texte
	{
		height: 250px;
	}

	#populaires
	{
		height: 100%;
		display:flex;
	}

	#auberge  
	{
		
		width:30%;
	}

	#auberge img 
	{
		width: 100%;
	}

	#auberge h3
	{
		width:50%
	}

	footer 
	{
		flex-wrap: nowrap;
	}

	#propos
	{
		margin-right: 0;
		padding-right: 20px;
	}

	#heber
	{
		margin-right: 0;
		padding-right: 20px;
	}

	#assistance
	{
		margin-right: 0;
	}



}

@media all and (min-device-width: 640px) and (max-device-width: 910px)
{
	
	
	
	#logo
	{
		
		width: -moz-available;
		display: grid;
		justify-content: center;
		padding-left: 130px;
	}
	
	nav 
	{
		width: -moz-available;
		justify-content: center;
	}


	.eco1
	{
		display: grid;
	}

	.eco2
	{
		display: grid;
	}

	#Hebergement
	{
		flex-direction: column-reverse;
	}

	#Hebergement img 
	{
		width: 100%;
	}

	#auberge  
	{
		
		width:30%;
	}

	#auberge img 
	{
		width: 100%;
	}

	#auberge h3
	{
		width:50%
	}

	aside 
	{
		width:-webkit-fill-available;
		display:grid;
	}

	#soleil
	{
		
		width:40%;
		display:grid;
		height: 90%;
		border-radius: 20% 20% 10% 10%;
	}

	#soleil img 
	{
		width: 100%;
		flex-wrap: wrap;
		border-radius: 20% 20% 0% 0%;
	}

	.soleil_texte
	{
		height: 250px;
	}

	#populaires
	{
		height: 100%;
		display:flex;
	}

	footer 
	{
		flex-wrap: nowrap;
	}

	#propos
	{
		margin-right: 0;
	}

	#heber
	{
		margin-right: 0;
	}

	#assistance
	{
		margin-right: 0;
	}
}
	
@media all and (min-device-width: 481px) and (max-device-width: 639px)
{

	#logo
	{
		width: -moz-available;
		display: grid;
		justify-content: center;
		padding-left: 130px;
	}

	nav 
	{
		width: -moz-available;
		justify-content: center;
	}

	.eco1
	{
		display: grid;
	}

	.eco2
	{
		display: grid;
	}

	#Hebergement
	{
		flex-direction: column-reverse;
	}
	
	#Hebergement img 
	{
		width: 100%;
	}

	#auberge  
	{
		
		width:30%;
		margin: 5px;
	}

	#auberge img 
	{
		width: 100%;
	}

	#auberge h3
	{
		width:50%
	}

	#soleil
	{
		
		width:40%;
		display:grid;
		height: 90%;
		border-radius: 20% 20% 10% 10%;
	}

	#soleil img 
	{
		width: 100%;
		flex-wrap: wrap;
		border-radius: 20% 20% 0% 0%;
	}

	.soleil_texte
	{
		height: 250px;
	}

	#populaires
	{
		height: 100%;
		display:flex;
	}

	
	

}

@media screen and (max-device-width:480px) 
{
	
	#logo
	{
		width: -moz-available;
		display: grid;
		padding-left: 80px;
		
	}

	input
	{
		width: 135px;
		font-size: 1em;
	}	

	i.fas.fa-info
	{
		padding-right: 10px;
	}

	nav{
		margin: 0;
		padding: 0;
		
		justify-content: space-between;
	}

	nav ul
	{
		display: inline; 
		margin-left: 0;
	}


	#information h2
	{
		justify-content: space-between;
		font-size: 1em;
	}

	#information p
	{
		font-size: 0.8em;
	}

	.eco1
	{
		display: grid;
	}

	.eco2
	{
		display: grid;
	}

	#filtre ul 
	{
		display: grid;
	}

	#Hebergement
	{
		flex-direction:column-reverse	
	}

	#Hebergement img 
	{
		width: 100%;
	}

	#soleil
	{
		margin: 15px 15px 15px 10px;
	}

	.soleil_texte
	{
		padding-bottom: 20px;
	}

	#auberge
	{
		width: 100%;
	}

	#activite
	{
		display: grid;
	}
	

	#vieux img 
	{
		width: 100%;
		height: 200px;
		border-radius: 20% 20% 0% 0%;
	}

	#fort img
	{
		width: 100%;
		height: 200px;
	}

	#Calanques img 
	{
		width: 100%;
		height: 200px;
		border-radius: 20% 20% 0% 0%;
	}

	#monument img 
	{
		width: 100%;
		height: 200px;
	}

	footer
	{
		display: flow-root;
		flex-wrap: wrap;
		background-color: #cacbcc;
		border-radius: 30px;
		justify-content: space-between;
	}	
}
=======
/* le container reprend toute la page */
.container
{
	
	border: 4px solid black;
	font-family: "Raleway", "Sans serif"
	}



/* css sur des parti general du code*/
input
{
	color: blue;
}

ul
{
	
	list-style-type: none;
}

/* le header qui entoure deux balize entete et Menu*/
header img
{
	
	float: left;
	display: flex;
	
	
}

#entete
{
	height: 105px;
	display: flex;
	
	
}


nav li
{
	margin: 15px;
	
}

nav ul
{
	 
	color: #0065FC;
	display: flex;
	margin-top: 0px;
	margin-left: 60%;
	
	
}

nav a
{
    font-size: 1.3em;
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: black;
    border-bottom: 3px  #760001;
}

/* la section information qui entourre le titre sous titre et le formulaire de ville */
#information
{
	
	width: auto;
}

#information h2
{
	margin-top: 100px;
	padding: 0;
}

#information p
{
	margin-top: -20px;
}

#information form
{
margin: 20px 0 0px 0;
}
 
/* la section barre qui entourre toute la ligne du filtre*/
#barre
{
	margin: 20px 0 20px 0; 
}

#filtre
{
	display: flex;
	text-align: center;
	align-items: center;
}

i
{
	color: #0065FC;
	margin-right: 10px;
	display: block;
	border-radius: 50px;
	border: 2px none black;


}


#Economique
{
	border: 1px solid black;
	border-radius: 40px;
	padding: 15px 15px 15px 15px;
	margin-left: 40px;

	
}



#Familial
{
	border: 1px solid black;
	border-radius: 40px;
	padding: 15px 15px 15px 15px;
	margin-left: 80px;
}

#Romantique
{
	border: 1px solid black;
	border-radius: 40px;
	padding: 15px 15px 15px 15px;
	margin-left: 80px;
}

#Animaux
{
	border: 1px solid black;
	border-radius: 40px;
	padding: 15px 15px 15px 15px;
	margin-left: 80px;
}

/* la section Hebergement qui encadre tous ce qui est de l'hergement de marseille  */
article
{
	width: auto;
	background-color: #F2F2F2;
	padding: 5px;
	margin-right: 5px;
	border-radius: 30px;

}

article img
{
	
	height: 130px;
	display: flex;
	border-radius: 20px;
	
}

#tp
{
	display: flex;
	padding-left: -5px;
}

#tp2
{
	display: flex;
}

#Hebergement
{
	display: flex;	
}

#Hebergement img
{
	width: 250px;
	height: 150px;
	border-radius: 10% 10% 0% 0%;
}

#Hebergement h3
{
	display: flex;
	margin-bottom: -10px;
}

#auberge
{
	border-radius: 30px;
	margin: 10px 10px 10px 10px;
	background-color: white;
}

.auberge_texte
{
	width: 250px;
	padding-bottom: : 20px;
}

#auberge p
{
	margin-top: -10px;
}

#auberge i
{
	margin-top: 0px;
}

/* L'aside qui entourre tous ce qui est a droite de l'hébergement a marseille*/
aside
{
	background-color: #F2F2F2;
	padding: 5px;
	border-radius: 30px;
}


#populaires h3
{
	display: flex;
	margin-bottom: -13px;
}

#populaires img
{
	width: 150px;
	height: 200px;
	border-radius: 10% 0% 0% 10%;
}



#soleil
{
	display: flex;
	padding: 5px 5px 5px 5px;
	border-radius: 30px;
	margin: 10px 0px 50px 0px;
	height: 200px;
	background-color: white;
}

.soleil_texte
{
	width: 200px;
}

#soleil p
{
	margin-top: -10px;
}

#soleil i
{
	margin-top: 50px;
}





/* la section marseille qui entourre toute la parti basse avant le footer*/

#activité
{
	display: flex;
	padding: 0;
	margin: 0;
} 

#vieux
{
	background-color: white;
	padding: 5px 5px 5px 5px;
}

#vieux img
{
	width: 290px;
	height: 500px;
	border-radius: 10% 10% 0% 0%;
	padding-top: 20px;
}

#fort
{
	padding: 5px 5px 5px 5px;
}

#fort img
{
	width: 290px;
	height: 200px;
	border-radius: 20% 20% 0% 0%;
	padding-top: 20px;
}

#calanques
{
	padding: 5px 5px 5px 5px;
}

#Calanques img
{
	width: 290px;
	height: 500px;
	border-radius: 10% 10% 0% 0%;
	padding-top: 20px;
}

#monument
{
	padding: 5px 5px 5px 5px;
}

#monument img
{
	width: 290px;
	height: 200px;
	border-radius: 10% 10% 0% 0%;
	padding-top: 20px;
}

/* et le footer qui encadre 3 div*/
footer
{
	display: flex;
	text-align: left;
	background-color: #F2F2F2;
	border-radius: 30px;
	padding: 20px;
}

footer ul
{
	
	
	padding-left: 0px;
}

#assistance
{
	
	width: 30%;
}

#héber
{
	width: 40%;
}

#propos
{
	width: 40%;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}










>>>>>>> 05ffbb8f79324fb364602f48b20c02a7506f2882
